{% extends "layout.html" %} {% block title %} List User {% endblock %}
{%block nav_list_user %} active {% endblock %} {% block content %}
<style>
    .hide_password {
       -webkit-text-security: disc;
    }
</style>

<div class="container">
  <h2 class="text-center fw-bold mt-5 text-primary">SISTEM INFORMASI GUDANG</h2>
  <p class="text-muted text-center h5 mb-5">Yulius - 672019014</p>
  <hr class="" />
  <div class="d-flex justify-content-between align-items-center my-4 px-4">
    <h5 class="text-muted">Welcome back, {{ name }}</h5>
    <a href="/logout" class="btn btn-danger px-4">Logout</a>
  </div>
  <hr />
  {% if type == 'error' %}
  <div class="alert alert-danger" role="alert">
    <strong>Error : </strong> {{ message }}
  </div>
  {% elif type == 'success' %}
  <div class="alert alert-success" role="alert">
    <strong>Success : </strong> {{ message }}
  </div>
  {% endif %}
  <section id="kst" class="p-4 my-4 bg-light rounded shadow-sm">
    <div class="d-flex justify-content-between align-items-center">
      <div class="col-md-6">
        <h3 class="px-2 pt-3 fw-bold text-primary">LIST USER</h3>
        <hr
          align="left"
          width="50%"
          class="mx-2 bg-primary h1 mt-2 rounded mb-4"
          style="height: 5px; opacity: 0.75"
        />
      </div>
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#tambahUser"
      >
        Tambah User Baru
      </button>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="filterTable"
        placeholder="Cari Data "
      />
      <label for="filterTable">Cari Data</label>
    </div>
    <table class="table table-hover border">
      <thead>
        <tr>
          <th class="text-center">ID User</th>
          <th>Nama Lengkap</th>
          <th class="text-center">Username</th>
          <th class="text-center">Password </th>
          <th class="text-end">Action</th>
        </tr>
      </thead>
      <tbody id="list_user">
        {% if (users != [])%} {% for user in users %}
        <tr class="align-middle">
          <td class="text-center">{{ user[0] }}</td>
          <td>{{ user[1] }}</td>
          <td class="text-center">
            {{ user[2] }}
          </td>
          <td class="text-center hide_password" id="password{{ user[0] }}">
            {{ user[3] }}
          </td>
          <td align="end">
            <i class="bi bi-eye h4 pointer" id="toggle_password{{ user[0] }}"></i>
            <button
              type="button"
              class="btn btn-clear"
              data-bs-toggle="modal"
              data-bs-target="#editUser{{ user[0] }}"
            >
              <i class="bi bi-pencil h4"> </i>
            </button>
            <button
              type="button"
              class="btn btn-clear"
              data-bs-toggle="modal"
              data-bs-target="#deleteUser{{ user[0] }}"
            >
              <i class="bi bi-trash h4 text-danger"></i>
            </button>
          </td>
        </tr>
        {% endfor %} {% else %}
        <tr>
          <td colspan="4">
            <p class="text-center">Data Kosong</p>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </section>
</div>

<!-- Modal Tambah User -->
<div
    class="modal fade"
    id="tambahUser"
    tabindex="-1"
    aria-labelledby="tambahUserLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="tambahUserLabel">Tambah User Baru</h5>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
        ></button>
        </div>
        <div class="modal-body">
            <form action="" method="post" class="mx-auto">
            <div class="form-floating mb-3">
                <input
                    type="text"
                    class="form-control"
                    id="namaUser"
                    placeholder="Nama User"
                    name="nama_user"
                    required
                />
                <label for="namaUser">Nama User</label>
            </div>
            <div class="form-floating mb-3">
                <input
                    type="text"
                    class="form-control"
                    id="username"
                    placeholder="Username"
                    name="username"
                    required
                />
                <label for="username">Username</label>
            </div>
            <div class="input-group row g-0 mb-3">
                <div class="form-floating col">
                    <input
                        type="password"
                        class="form-control border-end-0"
                        id="password"
                        placeholder="Password"
                        name="password"
                        required
                    />
                    <label for="password">Password</label>
                </div>
                <span class="input-group-text bg-white border-start-0 col-1" ><i class="bi bi-eye pointer"  id="togglePass"></i></span>
            </div>
            <div class="input-group row g-0 mb-3">
                <div class="form-floating col">
                    <input
                        type="password"
                        class="form-control border-end-0"
                        id="repeat_password"
                        placeholder="Ulangi Password"
                        name="repeat_password"
                        required
                    />
                    <label for="repeat_password">Ulangi Password</label>
                </div>
                <span class="input-group-text bg-white border-start-0 col-1" ><i class="bi bi-eye pointer"  id="toggleRePass"></i></span>
            </div>
        </div>
        <div class="modal-footer">
            <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            >
            Close
            </button>
            <button type="submit" name="tambah" class="btn btn-primary fw-bold">
            Tambah User
            </button>
        </div>
        </form>
    </div>
    </div>
</div>

{% for user in users %}
<!-- Modal Edit User -->
<div
    class="modal fade"
    id="editUser{{ user[0] }}"
    tabindex="-1"
    aria-labelledby="editUserLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editUserLabel">
            Edit - {{ user[1] }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="" method="post" class="mx-auto">
            <input type="hidden" name="id_user" value="{{ user[0] }}">
            <div class="form-floating mb-3">
                <input
                    type="text"
                    class="form-control"
                    id="namaUser"
                    placeholder="Nama User"
                    name="nama_user"
                    value="{{ user[1] }}"
                    required
                />
                <label for="namaUser">Nama User</label>
            </div>
            <div class="form-floating mb-3">
                <input
                    type="text"
                    class="form-control"
                    id="username"
                    placeholder="Username"
                    name="username"
                    value="{{ user[2] }}"
                    required
                />
                <label for="username">Username</label>
            </div>
            
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" name="edit" class="btn btn-primary fw-bold">
            Edit Data
          </button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <!-- Modal untuk hapus data -->
  <div
    class="modal fade"
    id="deleteUser{{ user[0] }}"
    tabindex="10"
    aria-labelledby="deleteUserLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteUserLabel">
            Hapus User - {{ user[1] }}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="" method="post" class="mx-auto">
            <input type="hidden" name="id_user" value="{{ user[0] }}">
            <p class="text-center text-secondary py-3">Apakah anda yakin ingin menghapus User <b> {{ user[1] }}</b> ? {% if user[2] == username %}<br> Anda akan segera logout jika melakukan proses ini{%endif%} </p>
            <div class="row px-3">
              <button
              type="button"
              class="btn btn-secondary col me-3"
              data-bs-dismiss="modal"
              >
                Batal
              </button>
            <button type="submit" name="hapus" class="btn btn-danger fw-bold col">
              Hapus User
            </button>
            </div>
        </div>
      </form>
      </div>
    </div>
  </div>
  </div>
  <script>
    $(document).ready(function () {
        $("#toggle_password{{ user[0] }}").on("click", function () {
            if($("#password{{ user[0] }}").hasClass('hide_password')){
                $("#password{{ user[0] }}").removeClass('hide_password');
                $("#toggle_password{{ user[0] }}").removeClass('bi bi-eye');
                $("#toggle_password{{ user[0] }}").addClass('bi bi-eye-slash');
            } else {
                $("#password{{ user[0] }}").addClass('hide_password');
                $("#toggle_password{{ user[0] }}").addClass('bi bi-eye');
                $("#toggle_password{{ user[0] }}").removeClass('bi bi-eye-slash');
            }
        });
    });
  </script>
{% endfor %}

<script>
    $(document).ready(function () {
        $("#filterTable").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#list_user tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
        });
        });
    });

    $(document).ready(function () {
        $("#togglePass").on("click", function () {
            if($("#password").attr('type') == 'password'){
                $("#password").attr('type', 'text');
                $("#togglePass").removeClass('bi bi-eye');
                $("#togglePass").addClass('bi bi-eye-slash');
            } else {
                $("#password").attr('type', 'password');
                $("#togglePass").addClass('bi bi-eye');
                $("#togglePass").removeClass('bi bi-eye-slash');
            }
        });
    });

    $(document).ready(function () {
        $("#toggleRePass").on("click", function () {
            if($("#repeat_password").attr('type') == 'password'){
                $("#repeat_password").attr('type', 'text');
                $("#toggleRePass").removeClass('bi bi-eye');
                $("#toggleRePass").addClass('bi bi-eye-slash');
            } else {
                $("#repeat_password").attr('type', 'password');
                $("#toggleRePass").addClass('bi bi-eye');
                $("#toggleRePass").removeClass('bi bi-eye-slash');
            }
        });
    });
</script>
{% endblock %}
